@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-text: oklch(36.19% 0.019 169.91);
  --color-brand-background: oklch(97.31% 0.000 89.88);
  --color-brand-card-background: oklch(100.00% 0.000 89.88);
  --color-brand-primary: oklch(43.80% 0.049 174.34);
  --color-brand-accent: oklch(66.72% 0.096 211.35);
  --color-brand-border: oklch(90.06% 0.000 89.88);
}

@layer base {
  body {
    @apply text-brand-text bg-brand-background;
  }

  dialog {
    @apply text-brand-text;
  }

  h1 {
    @apply text-6xl font-bold text-brand-primary;
  }

  h2 {
    @apply text-2xl font-semibold text-brand-primary;
  }

  button {
    @apply inline-flex justify-center items-center rounded-md px-5 py-1 text-base font-medium cursor-pointer self-stretch;
  }

  label {
    @apply text-lg font-bold;
  }

  input,
  select {
    @apply px-4 py-3.5 border-b-1 border-brand-border bg-brand-card-background h-full accent-brand-accent;
  }

  button,
  input,
  select {
    @apply hover:border-brand-accent hover:opacity-75 focus:outline-2 focus:outline-brand-accent focus:border-transparent active:outline-1 active:outline-brand-accent active:border-transparent;
  }
}

@utility card {
  @apply bg-brand-card-background rounded-xl shadow-md p-6 border-1 border-brand-border;
}

@utility primary-button {
  @apply bg-brand-accent text-white;
}

@utility primary-button-outline {
  @apply bg-brand-card-background border-2 text-brand-accent border-brand-accent;
}

@utility button-lg {
  @apply text-lg px-5 py-2;
}

@utility action-buttons {
  @apply flex flex-row items-center gap-3;
}

@utility animate-fade-in {
  @apply opacity-0 scale-95 hidden transition-discrete transition open:opacity-100 open:scale-100 open:block;

  @starting-style {
    @apply open:opacity-0 open:scale-95;
  }
}

@utility animate-slide-up {
  @apply opacity-0 translate-y-4 hidden transition-discrete transition;

  &.show {
    @apply opacity-100 translate-y-0 block;
  }

  @starting-style {
    &.show {
      @apply opacity-0 translate-y-4;
    }
  }
}